.header {
	background-color: #880000;
	width: 100%;
	height: 50px;
	clear: none;
	float: left;
}
.header img{
	height:50px;
	width: 50px;
	clear: none;
	float: left;
}
.header h2{
	/*clear: none;
	float: left;
	width: 90%;*/
	text-align: center;
	color: white;
	position: absolute;
	width: 100%;
	margin: 10px 0 0 0;
}
.header ul{
	color: white;
	list-style: none;
	width: auto;
	float: right;
	clear: none;
	margin: 0;
}
.header ul li{
	clear: none;
	float: left;
	width: auto;
	margin: 15px 13px 0 0 ;
}